.main-section {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 5% 20%;
  background-color: var(--primary-color);
}

/* Header text styles */
h1 {
  color: var(--primary-accent);
  margin-bottom: 0px;
  margin: 0px;
  font-size: 45pt;
}

h2 {
  color: var(--secondary-color-3);
  margin: 0;
  font-size: 30pt;
  margin-bottom: 10px;
}

/* Info part container */
.info-part {
  flex: 1;
  font-size: 14pt;
  padding: 5px;
  padding-left: 0;
  color: var(--secondary-color-3);
  z-index: 1;
}

.bottom {
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: auto;
}

.Image {
  flex: 1;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}
