.hero-section {
  display: flex;
  align-items: center;
  /overflow: hidden;
  padding: 20px 18%;
  background-color: var(--primary-color);
}

h1 {
  color: var(--primary-accent);
  margin-bottom: 0px;
  margin: 0px;
}

h2 {
  color: var(--secondary-color-3);
  margin: 0;
  margin-bottom: 10px;
}

p {
  margin-top: 0px;
}

.info-part {
  flex: 1;
  padding: 50px;
  color: var(--secondary-color-3);
}

.Image {
  flex: 1;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  top: 115px;
}

.Image img {
  max-width: 80%;
  height: auto;
  border-radius: 18px;
  display: block;
  top: 0;
  right: 0;
  bottom: 70;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.specials {
  padding: 40px 22%;
  position: relative;
  padding-top: 120px;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.specials-header h2 {
  margin: 0;
  color: var(--secondary-text);
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 22%;
  background-color: var(--secondary-color-3);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.first-row h4,
.first-row p {
  margin: 0;
  padding: 8px;
}

.first-row p {
  color: var(--secondary-color-1);
  font-weight: bold;
  font-size: 14px;
}

.card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card p {
  font-size: 14pt;
  padding: 0 10px;
}

.card h4 {
  padding: 0 10px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 1023px) {
  .card-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 46%;
    margin: 1%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .Image {
    padding-left: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-section {
    flex-direction: column;
  }

  .info-part {
    padding: 10px;
  }

  .card-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 100%;
    margin: 10px 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 01rem;
  }

  .Image {
    margin-top: 10px;
    padding-left: 50px;
  }
}
