footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px 20px 0px;
  background-color: var(--secondary-text);
  color: var(--secondary-color-3);
}

.logo {
  flex: 1;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.info-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin: 0 60px 0 0px;
  padding-right: 0;
  text-align: center;
}

.info,
.info-two {
  flex: 1;
  margin: 0 40px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

li {
  padding: 3px 0;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.social-container {
  display: flex;
  align-items: center;
}

.social {
  color: #ffffff;
  margin-right: 10px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: purple;
}

.footer-text {
  background-color: var(--secondary-text);
}

.footer-text p {
  text-align: center;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 15px;

  color: var(--secondary-color-3);
}

@media only screen and (max-width: 1023px) {
  footer {
    padding: 20px 70px 20px 20px;
  }
  .social {
    font-size: 0.8rem;
  }

  a.social {
    margin: 0 0.5rem;
  }

  .info,
  .info-two {
    margin: 10px;
  }

  li {
    font-size: 14px;
  }

  h4 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    flex-direction: column;
  }

  .info-container {
    flex-direction: column;
  }

  .info,
  .info-two {
    margin-top: 10px;
  }
}
