:root {
  --primary-color: #495e57;
  --primary-accent: #f4ce14;

  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --secondary-color-3: #edefee;
  --secondary-text: #333333;
}

/* Typography */
h1 {
  font-family: "Markazi Text", sans-serif;
  font-weight: medium;
  font-size: 64pt;
  color: var(--primary-color);
}

h2 {
  font-family: "Markazi Text", sans-serif;
  font-weight: regular;
  font-size: 40pt;
  color: var(--primary-color);
}

h3 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  text-transform: uppercase;
}

span {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 16pt;
}
h4 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 18pt;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 16pt;
  line-height: 1.5;
  max-width: 40ch;
}

.btn {
  background-color: var(--primary-accent);
  padding: 14px 20px;
  font-size: 1.2rem;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 100ms linear;
  color: var(--primary-color);
  position: relative;
  box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.btn:active {
  box-shadow: inset 0 0 0 4px var(--primary-color);
}

.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--primary-accent);
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  opacity: 0;
  animation: flash 100ms ease-in-out;
  transform: scaleX(2) scaleY(2);
}

.btn:hover::before {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

@keyframes flash {
  0% {
    opacity: 1;
    transform: translate(45px);
  }
  100% {
    opacity: 0;
    transform: translate(0);
  }
}

.screen {
  display: flex;
  flex-direction: column;
}

/* Responsive adjustments */
@media only screen and (max-width: 1023px) {
  .btn {
    font-size: 0.8rem;
    padding: 12px 16px;
  }
}

@media only screen and (max-width: 767px) {
  .btn {
    font-size: 0.8rem;
    padding: 8px 14px;
    border-radius: 10px;
  }
}
