:root {
  --primary-color: #495e57;
  --primary-accent: #f4ce14;

  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --secondary-color-3: #edefee;
  --secondary-text: #333333;
}

/* Typography */
h1 {
  font-family: "Markazi Text", sans-serif;
  font-weight: medium;
  font-size: 64pt;
  color: var(--primary-color);
}

h2 {
  font-family: "Markazi Text", sans-serif;
  font-weight: regular;
  font-size: 40pt;
  color: var(--primary-color);
}

h3 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  text-transform: uppercase;
}

span {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 16pt;
}
h4 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 18pt;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 16pt;
  line-height: 1.5;
  max-width: 40ch;
}

.screen {
  display: flex;
  flex-direction: column;
}
